/* 7-1 architecture
* abstracts contains no actual styles, just Sass mechanisms that help define styles in other directories (sometimes called "helpers"). This includes things like global variables, functions, and mixins. Each of these categories should be placed in their own appropriately-named partial file, as seen above.

* vendors contains any third-party stylesheets a project uses. For instance, if we wanted to use Bootstrap alongside our own custom Sass in a project, we'd download the Bootstrap stylesheet and place it here.

* base contains boilerplate used throughout an entire site. This includes project-wide typography styles, and stylesheets that universally reset or normalize default CSS.

* layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)

* components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

* pages is where page-specific styles reside. For instance, if a project contained several style rules that are only ever used on the "Contact Us" page, they'd live here in a _contact.scss file, as seen above.

* themes is used whenever a site has multiple themes. For instance, the example project above includes both admin and default themes. We can therefore assume this example site is styled entirely differently for logged-in admins. Perhaps to better present and accommodate the additional features an Admin has. Some websites also offer a "night mode", where the background of the site is darker with lighter-colored text for easier reading in low-light environments. An option like this would be represented in its own theme file too.
*/
@keyframes easeOutRight {
  from {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes easeOutLeft {
  from {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes easeOutTop {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  /* fontfamily in body and not in universal selector because of inheritance,
  children of body will inherit from body */
  font-family: Lato, 'sans-sarif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.primary-heading {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .primary-heading--main {
    display: block;
    letter-spacing: 3.9rem;
    font-size: 4rem;
    animation-name: easeOutRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .primary-heading--sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    animation: easeOutLeft 1s ease-out; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #7ed56f, #24b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: transform .3s ease-out; }
  .heading-secondary:hover {
    transform: skewX(-5deg) skewY(-2deg) scale(1.1);
    text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-icon-medium {
  font-size: 5rem;
  font-weight: 900;
  background-image: linear-gradient(to right, #7ed56f, #24b485);
  -webkit-background-clip: text; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  color: #777;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* For removing blur effect shown while transform */
  backface-visibility: hidden;
  animation: easeOutTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
  .btn--white {
    background-color: white;
    display: inline-block;
    padding: .7rem 1.5rem; }
  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: 0 .5rem 1rem;
    transform: translateY(-0.1rem); }

.btn-txt {
  display: inline-block;
  padding: 3px;
  font-size: 1.6rem;
  transition: background-color 0.2s, transform 0.2s;
  backface-visibility: hidden; }
  .btn-txt:link, .btn-txt:visited {
    text-decoration: none;
    color: #55c57a;
    border-bottom: 2px solid #55c57a; }
  .btn-txt:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }
  .btn-txt:active {
    box-shadow: 0 0 0;
    transform: translateY(2px); }

.composition {
  position: relative;
  transition: box-shadow 0.2; }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: transform 0.5s ease-out, outline 0.2s, box-shadow .5s;
    backface-visibility: hidden;
    box-shadow: 0 1.2rem 0.8rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 1rem;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 7rem; }
    .composition__photo--p2 {
      top: 5rem;
      left: 25.5rem; }
    .composition__photo--p3 {
      top: 15rem;
      left: 12rem; }
    .composition__photo:hover {
      z-index: 100;
      transform: scale(1.05);
      box-shadow: 0 2.2rem 0.8rem rgba(0, 0, 0, 0.3);
      outline: 0.8rem solid #55c57a;
      padding: 0; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.15); }

.feature-box {
  padding: 10rem; }
  .feature-box__container {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    backface-visibility: hidden; }
    .feature-box__container:hover {
      transform: translateY(-2px) scale(1.03); }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #24b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    backface-visibility: hidden; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 133, 0.8)), url(../img/hero.jpg);
  /* background size : cover, fills the width of the container */
  background-size: cover;
  /* background position : top, will fixthe top and whenever screen size is altered
  top will not get   cropped */
  background-position: top;
  border-radius: 0.3em;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 1em;
    left: 1em; }
  .header__logo {
    height: 2em; }
  .header__text-box {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row-container {
  max-width: 114rem;
  margin: 0 auto; }
  .row-container::after {
    content: "";
    display: table;
    clear: both; }
  .row-container [class^="col-"] {
    float: left;
    padding: 3rem; }
  .row-container .col-1 {
    width: calc(100%*1/12); }
  .row-container .col-2 {
    width: calc(100%*2/12); }
  .row-container .col-3 {
    width: calc(100%*3/12); }
  .row-container .col-4 {
    width: calc(100%*4/12); }
  .row-container .col-5 {
    width: calc(100%*5/12); }
  .row-container .col-6 {
    width: calc(100%*6/12); }
  .row-container .col-7 {
    width: calc(100%*7/12); }
  .row-container .col-8 {
    width: calc(100%*8/12); }
  .row-container .col-9 {
    width: calc(100%*9/12); }
  .row-container .col-10 {
    width: calc(100%*10/12); }
  .row-container .col-11 {
    width: calc(100%*11/12); }
  .row-container .col-12 {
    width: 100%; }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -20vh; }
  .section-features > * {
    transform: skewY(6deg); }
