@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/* 7-1 architecture
* abstracts contains no actual styles, just Sass mechanisms that help define styles in other directories (sometimes called "helpers"). This includes things like global variables, functions, and mixins. Each of these categories should be placed in their own appropriately-named partial file, as seen above.

* vendors contains any third-party stylesheets a project uses. For instance, if we wanted to use Bootstrap alongside our own custom Sass in a project, we'd download the Bootstrap stylesheet and place it here.

* base contains boilerplate used throughout an entire site. This includes project-wide typography styles, and stylesheets that universally reset or normalize default CSS.

* layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)

* components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

* pages is where page-specific styles reside. For instance, if a project contained several style rules that are only ever used on the "Contact Us" page, they'd live here in a _contact.scss file, as seen above.

* themes is used whenever a site has multiple themes. For instance, the example project above includes both admin and default themes. We can therefore assume this example site is styled entirely differently for logged-in admins. Perhaps to better present and accommodate the additional features an Admin has. Some websites also offer a "night mode", where the background of the site is darker with lighter-colored text for easier reading in low-light environments. An option like this would be represented in its own theme file too.
*/
/*
  phone : max-width:600px (600/16(default font size provided by browser) = 37.5em)
  tab-pot : max-width:900px (900/16 = 56.25em)
  tab-land : max-width:1200px (1200/16 = 75em)
  (Default css behaviour)
  big-screen : min-width:1800px (1200/16 = 112.5em)
*/
@keyframes easeOutRight {
  from {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes easeOutLeft {
  from {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes easeOutTop {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  /* fontfamily in body and not in universal selector because of inheritance,
  children of body will inherit from body */
  font-family: Lato, 'sans-sarif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.primary-heading {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .primary-heading--main {
    display: block;
    letter-spacing: 3.9rem;
    font-size: 4rem;
    animation-name: easeOutRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 56.25em) {
      .primary-heading--main {
        font-size: 3.5rem;
        letter-spacing: 2rem; } }
    @media (max-width: 37.5em) {
      .primary-heading--main {
        font-size: 3.5rem;
        letter-spacing: 1rem; } }
  .primary-heading--sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    animation: easeOutLeft 1s ease-out; }
    @media (max-width: 56.25em) {
      .primary-heading--sub {
        font-size: 1.2rem;
        letter-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .primary-heading--sub {
        font-size: 1.2rem;
        letter-spacing: .5rem; } }

.heading-secondary {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #7ed56f, #24b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: transform .3s ease-out; }
  .heading-secondary:hover {
    transform: skewX(-5deg) skewY(-2deg) scale(1.1);
    text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 1.8rem;
      letter-spacing: 1.5px; } }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.2rem; } }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: .8rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 3rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: .8rem !important; } }

.u-margin-top-medium {
  margin-top: 5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem !important; } }

.u-margin-top-large {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-large {
      margin-top: 3rem !important; } }

.u-icon-medium {
  font-size: 5rem;
  font-weight: 900;
  background-image: linear-gradient(to right, #7ed56f, #24b485);
  -webkit-background-clip: text;
  background-clip: text; }

.u-text-uppercase {
  text-transform: uppercase !important; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  color: #777;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* For removing blur effect shown while transform */
  backface-visibility: hidden;
  animation: easeOutTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  border: none;
  cursor: pointer; }
  .btn--white {
    background-color: white;
    display: inline-block;
    padding: .7rem 1.5rem; }
  .btn--green {
    background-color: #55c57a;
    display: inline-block;
    padding: .7rem 1.5rem;
    color: white; }
  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus {
    outline: none;
    box-shadow: 0 .5rem 1rem;
    transform: translateY(-0.1rem); }

.btn-txt {
  display: inline-block;
  padding: 3px;
  font-size: 1.6rem;
  transition: background-color 0.2s, transform 0.2s;
  backface-visibility: hidden; }
  .btn-txt:link, .btn-txt:visited {
    text-decoration: none;
    color: #55c57a;
    border-bottom: 2px solid #55c57a; }
  .btn-txt:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }
  .btn-txt:active {
    box-shadow: 0 0 0;
    transform: translateY(2px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .bg-video__content {
    object-fit: cover; }

.card {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  margin: 1rem auto;
  max-width: 40rem; }
  @media (max-width: 75em) {
    .card {
      box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.3);
      margin-bottom: 5rem;
      height: fit-content;
      border-radius: 5px;
      overflow: hidden; } }
  .card__side {
    height: 50rem;
    transition: transform 0.5s ease-out;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }
    @media (max-width: 75em) {
      .card__side {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none; } }
    .card__side--front {
      backface-visibility: hidden; }
      @media (max-width: 75em) {
        .card__side--front {
          position: relative;
          top: 0;
          left: 0; } }
    .card__side--back {
      transform: rotateY(180deg);
      backface-visibility: hidden; }
      @media (max-width: 75em) {
        .card__side--back {
          transform: rotateY(0);
          position: relative;
          height: auto;
          top: 0;
          left: 0;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); } }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #24b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
    @media (max-width: 75em) {
      .card:hover .card__side--front {
        transform: none; } }
  .card:hover .card__side--back {
    transform: rotateY(360deg); }
    @media (max-width: 75em) {
      .card:hover .card__side--back {
        transform: translateY(50rem); } }
  .card__photo {
    height: 40%;
    background-blend-mode: screen;
    background-position: center; }
    .card__photo--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url(../img/nat-5.jpg);
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__photo--2 {
      background-image: linear-gradient(to right, #7ed56f, #24b485), url(../img/nat-6.jpg);
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__photo--3 {
      background-image: linear-gradient(to right, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    width: 20rem;
    padding: 1rem;
    position: absolute;
    top: 20%;
    right: 2rem;
    text-align: right;
    color: #fff; }
    .card__heading--span {
      -webkit-box-decoration-break: clone;
      padding: 1rem; }
      .card__heading--span--1 {
        background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__heading--span--2 {
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(36, 180, 133, 0.85)); }
      .card__heading--span--3 {
        background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    list-style: none;
    text-align: center;
    width: 80%;
    margin: 3rem auto 0; }
    .card__details li {
      border-bottom: 1px solid #eee; }
      .card__details li:not(:last-child) {
        margin-bottom: 2rem; }
  .card__cta {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%; }
    @media (max-width: 75em) {
      .card__cta {
        position: relative;
        top: -1rem;
        left: 0; } }
  .card__pricebox {
    margin: 2rem 0;
    color: white; }
    .card__pricebox--only {
      text-transform: uppercase; }
    .card__pricebox--value {
      font-size: 5rem;
      font-weight: 200; }
    @media (max-width: 75em) {
      .card__pricebox {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .card__button {
      position: absolute;
      top: 0; } }

.composition {
  position: relative;
  transition: box-shadow 0.2;
  top: 0;
  left: 0; }
  @media (max-width: 75em) {
    .composition {
      padding: 20rem; } }
  @media (max-width: 56.25em) {
    .composition {
      padding: 13rem; } }
  @media (max-width: 37.5em) {
    .composition {
      padding: 8rem; } }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: transform 0.5s ease-out, outline 0.2s, box-shadow .5s;
    backface-visibility: hidden;
    box-shadow: 0 1.2rem 0.8rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 1rem;
    outline-offset: 2rem; }
    @media (max-width: 75em) {
      .composition__photo {
        width: 60%; } }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 30%; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 7rem; }
      @media (max-width: 75em) {
        .composition__photo--p1 {
          top: 0;
          left: 17rem; } }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 3rem; } }
    .composition__photo--p2 {
      top: 5rem;
      left: 25.5rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          top: 10rem;
          left: 2rem; } }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -2rem;
          left: calc(30% + 3rem); } }
    .composition__photo--p3 {
      top: 15rem;
      left: 12rem; }
      @media (max-width: 75em) {
        .composition__photo--p3 {
          top: 17rem;
          left: 20rem; } }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: calc(60% + 3rem); } }
    .composition__photo:hover {
      z-index: 100;
      transform: scale(1.05);
      box-shadow: 0 2.2rem 0.8rem rgba(0, 0, 0, 0.3);
      outline: 0.8rem solid #55c57a;
      padding: 0; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.15); }

.feature-box {
  padding: 10rem;
  width: 100%; }
  .feature-box__container {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(36, 180, 133, 0.15);
    transition: transform .3s;
    backface-visibility: hidden; }
    .feature-box__container:hover {
      transform: translateY(-2px) scale(1.03); }
    @media (max-width: 75em) {
      .feature-box__container {
        margin: 1rem auto;
        max-width: 40rem; } }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #24b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    backface-visibility: hidden; }

.form__group:not(:last-child) {
  margin-bottom: 2.5rem; }

.form__input {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  display: block;
  border-radius: 3px;
  border: 3px solid transparent;
  width: 90%; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  display: block;
  transform: translateY(-8rem) translateX(2.3rem);
  opacity: 1;
  transition: transform .3s ease-out; }

.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem) translateX(2.3rem); }

.form__radio {
  display: inline-block;
  padding: 0 2rem;
  position: relative; }
  .form__radio:not(:last-child) {
    margin-right: 5rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    margin-left: 1rem;
    cursor: pointer; }
  .form__radio-button {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 3px solid #55c57a;
    position: absolute;
    top: .5rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: none;
      transform: translate(-50%, -50%);
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #55c57a;
      position: absolute;
      top: 50%;
      left: 50%; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    display: block; }

.form__submit .btn {
  display: inline-block;
  text-align: center;
  animation: none; }

.footer {
  padding: 5rem;
  background-color: #777;
  color: #f7f7f7; }
  .footer__logobox {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__logo {
    width: 5rem;
    height: auto; }
  .footer__navigation {
    display: inline; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        display: block;
        text-align: center;
        margin: 1rem auto; } }
  .footer__list {
    display: inline-block;
    border-top: 1px solid #f7f7f7;
    list-style: none; }
    .footer__list--element {
      float: left; }
      .footer__list--element:not(:last-child) {
        margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .footer__list--element {
          float: none;
          display: inline; } }
    @media (max-width: 56.25em) {
      .footer__list {
        width: 60%; } }
  .footer__copyright {
    float: right;
    width: 40%; }
    .footer__copyright--text {
      border-top: 1px solid #f7f7f7; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 60%;
        margin: 2rem auto;
        float: none;
        text-align: center; } }
  .footer__link {
    text-decoration: none;
    display: inline-block;
    transition: transform .2s; }
    .footer__link:visited, .footer__link:link {
      color: inherit; }
    .footer__link:hover {
      color: #55c57a;
      transform: skewx(-10deg);
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 56.25em) {
    .footer {
      padding: 3rem; } }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  overflow: hidden;
  backdrop-filter: blur(3px); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    text-decoration: none;
    color: #777; }
  .popup__content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #f7f7f7;
    display: table;
    opacity: 0;
    transition: transform .4s;
    backface-visibility: hidden; }
    @media (max-width: 75em) {
      .popup__content {
        display: block;
        width: 100%; } }
  .popup__image {
    display: block;
    width: 100%; }
    @media (max-width: 75em) {
      .popup__image {
        display: block;
        width: 50%;
        float: left;
        padding: 3rem; } }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
    @media (max-width: 75em) {
      .popup__left {
        display: block;
        width: 100%; } }
  .popup__right {
    display: table-cell;
    padding: 3rem 5rem;
    width: 66.6666%;
    vertical-align: top; }
    @media (max-width: 75em) {
      .popup__right {
        display: block;
        width: 100%; } }
  .popup__text {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 4rem; }
    @media (max-width: 75em) {
      .popup__text {
        display: block;
        width: 100%;
        column-count: 1; } }

.story {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem 9rem;
  width: 80%;
  margin: 10rem auto;
  transform: skewX(-15deg); }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(-3deg);
      padding: 3rem 2rem;
      margin: 4rem auto; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(15deg);
    position: relative;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-1rem) skewX(3deg); } }
  .story__picture {
    height: 100%;
    transform: translateX(-3rem) scale(1.2);
    transition: transform .4s ease;
    backface-visibility: hidden; }
  .story__heading {
    transform: skewX(15deg);
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .story__heading {
        transform: skewX(3deg); } }
  .story__text {
    transform: skewX(15deg);
    width: 100%; }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(3deg); } }
  .story__caption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: white;
    width: 100%;
    transition: transform .4s ease;
    backface-visibility: hidden;
    text-transform: uppercase;
    font-weight: 300; }
  .story:hover .story__picture {
    filter: blur(3px) brightness(80%);
    transform: translate(-3rem) scale(1); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.row-container {
  max-width: 114rem;
  margin: 0 auto; }
  .row-container::after {
    content: "";
    display: table;
    clear: both; }
  .row-container [class^="col-"] {
    float: left;
    padding: 3rem; }
  .row-container .col-1 {
    width: calc(100%*1/12); }
  .row-container .col-2 {
    width: calc(100%*2/12); }
  .row-container .col-3 {
    width: calc(100%*3/12); }
  .row-container .col-4 {
    width: calc(100%*4/12); }
  .row-container .col-5 {
    width: calc(100%*5/12); }
  .row-container .col-6 {
    width: calc(100%*6/12); }
  .row-container .col-7 {
    width: calc(100%*7/12); }
  .row-container .col-8 {
    width: calc(100%*8/12); }
  .row-container .col-9 {
    width: calc(100%*9/12); }
  .row-container .col-10 {
    width: calc(100%*10/12); }
  .row-container .col-11 {
    width: calc(100%*11/12); }
  .row-container .col-12 {
    width: 100%; }
  @media (max-width: 75em) {
    .row-container [class^="col-"] {
      float: left;
      padding: 1rem; }
    .row-container .col-md-1 {
      width: calc(100%*1/12); }
    .row-container .col-md-2 {
      width: calc(100%*2/12); }
    .row-container .col-md-3 {
      width: calc(100%*3/12); }
    .row-container .col-md-4 {
      width: calc(100%*4/12); }
    .row-container .col-md-5 {
      width: calc(100%*5/12); }
    .row-container .col-md-6 {
      width: calc(100%*6/12); }
    .row-container .col-md-7 {
      width: calc(100%*7/12); }
    .row-container .col-md-8 {
      width: calc(100%*8/12); }
    .row-container .col-md-9 {
      width: calc(100%*9/12); }
    .row-container .col-md-10 {
      width: calc(100%*10/12); }
    .row-container .col-md-11 {
      width: calc(100%*11/12); }
    .row-container .col-md-12 {
      width: 100%; } }
  @media (max-width: 56.25em) {
    .row-container [class^="col-"] {
      float: left;
      padding: 2rem 3rem; }
    .row-container .col-sm-1 {
      width: calc(100%*1/12); }
    .row-container .col-sm-2 {
      width: calc(100%*2/12); }
    .row-container .col-sm-3 {
      width: calc(100%*3/12); }
    .row-container .col-sm-4 {
      width: calc(100%*4/12); }
    .row-container .col-sm-5 {
      width: calc(100%*5/12); }
    .row-container .col-sm-6 {
      width: calc(100%*6/12); }
    .row-container .col-sm-7 {
      width: calc(100%*7/12); }
    .row-container .col-sm-8 {
      width: calc(100%*8/12); }
    .row-container .col-sm-9 {
      width: calc(100%*9/12); }
    .row-container .col-sm-10 {
      width: calc(100%*10/12); }
    .row-container .col-sm-11 {
      width: calc(100%*11/12); }
    .row-container .col-sm-12 {
      width: 100%; } }
  @media (max-width: 37.5em) {
    .row-container [class^="col-"] {
      float: left;
      padding: 2rem 3rem; }
    .row-container .col-xs-1 {
      width: calc(100%*1/12); }
    .row-container .col-xs-2 {
      width: calc(100%*2/12); }
    .row-container .col-xs-3 {
      width: calc(100%*3/12); }
    .row-container .col-xs-4 {
      width: calc(100%*4/12); }
    .row-container .col-xs-5 {
      width: calc(100%*5/12); }
    .row-container .col-xs-6 {
      width: calc(100%*6/12); }
    .row-container .col-xs-7 {
      width: calc(100%*7/12); }
    .row-container .col-xs-8 {
      width: calc(100%*8/12); }
    .row-container .col-xs-9 {
      width: calc(100%*9/12); }
    .row-container .col-xs-10 {
      width: calc(100%*10/12); }
    .row-container .col-xs-11 {
      width: calc(100%*11/12); }
    .row-container .col-xs-12 {
      width: 100%; } }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 133, 0.8)), url(../img/hero-small.jpg);
  /* background size : cover, fills the width of the container */
  background-size: cover;
  /* background position : top, will fixthe top and whenever screen size is altered
  top will not get   cropped */
  background-position: top;
  border-radius: 0.3em;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 133, 0.8)), url(../img/hero.jpg); } }
  .header__logo-box {
    position: absolute;
    top: 1em;
    left: 1em; }
  .header__logo {
    height: 2em; }
  .header__text-box {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  z-index: 100; }
  .navigation__input {
    display: none; }
  .navigation__label {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: white;
    z-index: 2000;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .navigation__label {
        height: 5rem;
        width: 5rem;
        top: 3rem;
        right: 3rem; } }
    @media (max-width: 37.5em) {
      .navigation__label {
        top: 2.5rem;
        right: 2.5rem; } }
  .navigation__label:focus, .navigation__background:focus, .navigation__label:active, .navigation__background:active {
    outline: none; }
  .navigation__label:hover .navigation__icon--1 {
    top: 38%; }
  .navigation__label:hover .navigation__icon--3 {
    top: 62%; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #24b485);
    z-index: 1000;
    transition: all .5s ease-out; }
    @media (max-width: 56.25em) {
      .navigation__background {
        height: 4rem;
        width: 4rem;
        top: 3.5rem;
        right: 3.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        top: 3rem;
        right: 3rem; } }
  .navigation__input:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__input:checked ~ .navigation__nav {
    opacity: 1;
    transform: translateX(-50%); }
  .navigation__nav {
    opacity: 0;
    transform: translate(100%);
    text-align: center;
    font-size: 2.3rem;
    position: fixed;
    left: 50%;
    width: 100%;
    z-index: 1500;
    padding: 10rem;
    transition: opacity 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6), transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__list {
    display: block;
    list-style: none; }
    .navigation__list--item {
      font-size: 3rem;
      margin: 2rem; }
      @media (max-width: 37.5em) {
        .navigation__list--item {
          font-size: 2rem;
          margin: 1rem; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 1rem;
    background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
    background-size: 240%;
    transition: background-position .3s ease-out , transform .3s ease; }
  .navigation__link:hover {
    color: #55c57a;
    background-position: 100%;
    transform: translateX(-1rem); }
  .navigation__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .2s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      display: block;
      background-color: #000;
      height: 1.5px;
      width: 3rem; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      transition: top .1s, transform .4s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__label:hover .navigation__icon::before {
    top: -.9rem; }
  .navigation__label:hover .navigation__icon::after {
    top: .9rem; }
  .navigation__input:checked ~ .navigation__label .navigation__icon {
    background-color: transparent; }
  .navigation__input:checked ~ .navigation__label .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__input:checked ~ .navigation__label .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -20vh; }
  .section-features > * {
    transform: skewY(6deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 7rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 12rem 0 7rem;
      margin-top: -10vh; } }

.section-stories {
  padding: 10rem 0 10rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0; } }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #24b485); }
  @media (max-width: 56.25em) {
    .section-booking {
      padding: 5rem 0; } }
  .section-booking .book {
    height: 50rem;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
    background-size: cover; }
    @media (max-width: 37.5em) {
      .section-booking .book {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url("../img/nat-10.jpg"); } }
    .section-booking .book__form {
      width: 50%;
      padding: 4rem; }
      @media (max-width: 37.5em) {
        .section-booking .book__form {
          width: 70%;
          padding: 2rem; } }
