.navigation {
  z-index: 100;
  &__input {
    display: none;
  }

  &__label{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: white;
    z-index: 2000;
    cursor: pointer;
    @include respond(tab-pot) {
      height: 5rem;
      width: 5rem;
      top: 3rem;
      right: 3rem;
    }
    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
    }
  }

  &__label:focus,
  &__background:focus,
  &__label:active,
  &__background:active {
    outline: none;
  }

  &__label:hover &__icon {
    &--1 {
      top: 38%
    }

    &--3 {
      top: 62%;
    }
  }

  &__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light , $color-primary-dark);
    z-index: 1000;
    transition: all .5s ease-out;
    @include respond(tab-pot) {
      height: 4rem;
      width: 4rem;
      top: 3.5rem;
      right: 3.5rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__input:checked ~ &__background {
    transform: scale(100);
  }

  &__input:checked ~ &__nav {
    opacity: 1;
    transform: translateX(-50%);
  }

  &__nav {
    opacity: 0;
    transform: translate(100%);
    text-align: center;
    font-size: 2.3rem;
    position: fixed;
    // transform: translateX(-50%);
    left: 50%;
    width: 100%;
    z-index: 1500;
    padding: 10rem;
    transition: opacity .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) , transform .5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    display: block;
    list-style: none;
    &--item {
      font-size: 3rem;
      margin: 2rem;
      @include respond(phone) {
        font-size: 2rem;
        margin: 1rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      display: inline-block;
      padding: 1rem;
      background-image: linear-gradient(120deg, transparent 50% , $color-white 50%);
      background-size: 240%;
      transition: background-position .3s ease-out , transform .3s ease;
    }

    &:hover {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(-1rem);
    }
  }

  &__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: background-color .2s;
    &,
    &::before,
    &::after{
      display: block;
      background-color: $color-black;
      height: 1.5px;
      width: 3rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: top .1s, transform .4s;
    }

    &::before{
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__label:hover &__icon::before{
    top: -.9rem;
  } 

  &__label:hover &__icon::after{
    top: .9rem;
  }

  &__input:checked ~ &__label &__icon{
    background-color: transparent;
  }

  &__input:checked ~ &__label &__icon::before{
    top: 0;
    transform: rotate(45deg) ;
  }

  &__input:checked ~ &__label &__icon::after{
    top: 0;
    transform: rotate(-45deg);
  }
}