.btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  color: $color-grey-dark;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* For removing blur effect shown while transform */
  backface-visibility: hidden;
  animation: easeOutTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  &--white{
    background-color: white;
    display: inline-block;
    padding: .7rem 1.5rem;
  }
  
  &:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
  }
  
  &:active {
    box-shadow: 0 .5rem 1rem;
    transform: translateY(-.1rem);
  }
}

.btn-txt {

  display: inline-block;
  padding: 3px;
  font-size: $default-font-size;
  transition: background-color 0.2s, transform 0.2s;
  backface-visibility: hidden;

  &:link,
  &:visited{
    text-decoration: none;
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2);
  }

  &:active{
    box-shadow: 0 0 0;
    transform: translateY(2px);
  }
}