.composition {
  position: relative;
  transition: box-shadow 0.2;
  @include respond(tab-land) {
    padding: 20rem;
  }
  @include respond(tab-pot) {
    padding: 13rem;
  }
  @include respond(phone) {
    padding: 8rem;
  }
  top: 0;
  left: 0;

  &__photo {
    width: 55%;
    position: absolute;
    transition: transform 0.5s ease-out, outline 0.2s, box-shadow .5s;
    backface-visibility: hidden;
    box-shadow: 0 1.2rem 0.8rem rgba($color-black , .15);
    border-radius: 4px;
    padding: 1rem;
    outline-offset: 2rem;

    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-pot) {
      width: 30%;
    }

    &--p1 {
      top: -2rem;
      left: 7rem;
      @include respond(tab-land) {
        top: 0;
        left: 17rem;
      }
      @include respond(tab-pot) {
        top: 0;
        left: 3rem;
      }
    }

    &--p2 {
      top: 5rem;
      left: 25.5rem;

      @include respond(tab-land) {
        top: 10rem;
        left: 2rem;
      }
      @include respond(tab-pot) {
        top: -2rem;
        left: calc(30% + 3rem);
      }
    }

    &--p3 {
      top: 15rem;
      left: 12rem;
      @include respond(tab-land) {
        top: 17rem;
        left: 20rem;
      }
      @include respond(tab-pot) {
        top: 0;
        left: calc(60% + 3rem);
      }
    }

    &:hover {
      z-index: 100;
      transform: scale(1.05);
      box-shadow: 0 2.2rem 0.8rem rgba($color-black,.3);
      outline: .8rem solid $color-primary;
      padding: 0;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
    box-shadow: 0 .8rem 0.5rem rgba($color-black , .15);
  }

}