.footer {

  padding: 5rem;
  background-color: $color-grey-dark;
  color: $color-grey-light-1;

  &__logobox {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__logo {
    width: 5rem;
    height: auto;
  }

  &__navigation {
    display: inline;
    @include respond(tab-pot) {
      display: block;
      text-align: center;
      margin: 1rem auto;
    }
  }

  &__list {
    display: inline-block;
    border-top: 1px solid $color-grey-light-1;
    list-style: none;
    &--element {
      float: left;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      @include respond(tab-pot) {
        float: none;
        display: inline;  
      }
    }
    @include respond(tab-pot) {
      width: 60%;
    }
  }

  &__copyright{
    float: right;
    width: 40%;
    &--text {
      border-top: 1px solid $color-grey-light-1 ;
    }
    @include respond(tab-pot) {
      width: 60%;
      margin: 2rem auto;
      float: none;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    transition: transform .2s;
    &:visited,
    &:link {
      color: inherit;
    }
    &:hover {
      color: $color-primary;
      transform: skewx(-10deg);
      text-shadow: 0 1rem 2rem rgba($color-black,.1);
    }
  }

  @include respond(tab-pot) {
    padding: 3rem;
  }

}