.u-text-center {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}
.u-margin-top-medium {
  margin-top: 5rem;
}
.u-margin-top-large {
  margin-top: 8rem;
}

.u-icon-medium {
  font-size: 5rem;
  font-weight: 900;
  background-image: linear-gradient(to right , $color-primary-light ,$color-primary-dark);
  // -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}

.u-text-uppercase {
  text-transform: uppercase;
}
